.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Month {
  display: flex;
}

.Week {
  display: flex;
  margin-left: 2px;
  margin-right: 2px;
}

.Day {
  background-color: antiquewhite;
  height: 8px;
  margin: 4px;
  width: 8px;
}