.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*  */
/*  */
/*  */
/*  */

.Month {
  display: flex;
}

.Week {
  display: flex;
}

.Day {
  background-color: white;
  width: 8px;
  height: 8px;
  margin: 2px;
}

